* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #35AEEE;
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.center_text{
  text-align: center;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}